menu "Application config"

    config EXAMPLE_I2C_SCL_PIN
        int "scl pin"
        default 20
        range 0 63

    config EXAMPLE_I2C_SDA_PIN
        int "sda pin"
        default 21
        range 0 63

endmenu