CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="awtowrksuozwqqmx"
# Use tracker UI instead of WeChat/Chatbot/OLED
CONFIG_ENABLE_GUI_TRACKER=y
# Streaming text is only for WeChat UI
# CONFIG_ENABLE_GUI_STREAM_AI_TEXT is not set
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_WAVESHARE_T5AI_TOUCH_AMOLED_1_75=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_ENABLE_TOUCH=y
